
            .alfredocarrusel{
                width: 1280px;
                height: 720px;
                overflow: hidden;
                /* Necesario para que los botones absolutos se posicionen respecto a esto */
                position: relative; 
            }

            .alfredocarrusel section{
                display: flex;
                width: fit-content;
                /* FIX: Necesario para que 'left' funcione en la animación */
                position: relative; 
                left: 0px;
                transition: all 1s;
            }

            .alfredocarrusel section img{
                width: 1280px;
                height: 720px;
                object-fit: cover; 
            }

            /* FIX: Estilos necesarios para que los botones se vean encima de la imagen */
            button {
                border: none;
                background: rgba(255,255,255,0.5);
                width: 50px;
                height: 50px;
                position: absolute;
                border-radius: 60px;
                font-size: 30px;
                text-align: center;
                top: 50%;
                z-index: 10;
            }
            button:hover{
                background:rgba(255,255,255,1);
                transition: all 1s;
            }
            /* Separar el botón derecho para que no se solape con el izquierdo */
            button:last-child {
                right: 0;
            }

